.page.theme_light {
  --font: 'IBM Plex mono', sans-serif;
  --text-size: 18px;
  --logo-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --bg-color: #FFF1F7;
  --bg-text: #353430;
  --content-text-color: #353430;
  --header-text: #353430;
  --bg-image: url(../images/cover-image-light.png);
  --nav-hover-color: rgb(50 49 45 / 40%);
  --shadow-title: #FF0070;
}

@media (prefers-color-scheme: light) {
  :root {
    --font: 'IBM Plex mono', sans-serif;
    --text-size: 18px;
    --logo-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --bg-color: #FFF1F7;
    --bg-text: #353430;
    --content-text-color: #353430;
    --header-text: #353430;
    --bg-image: url(../images/cover-image-light.png);
    --nav-hover-color: rgb(50 49 45 / 40%);
    --shadow-title: #FF0070;
  }
  .rec {
    display: none;
  }
}

.theme_light .rec {
  display: none;
}